body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("https://stepik.org/media/attachments/lesson/374893/world.png");
}

.container {
    display: flex;
    max-width: 480px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.arena__title {
    font-family: "Times New Roman",sans-serif;
    text-align: center;
}

.card {
    position: relative;
    margin: 0 10px 10px 0;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: bisque;
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.front,
.back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: 'Lobster', sans-serif;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.front {
    background-color: orange;
    z-index: 2;
    backface-visibility: hidden;
}

.front p {
    font-size: 18;
    font-weight: 700;
    color: bisque;
}

.back {
    background-color: bisque;
    z-index: 1;
    transform: rotateY(180deg);
}

.back p {
    font-size: 18;
    font-weight: 700;
    color: orange;
}

.card:hover {
    transform: rotateY(180deg);
}
